version: "3.9"
services:
  web:
    container_name: flask_app
    build:
      context: .
      dockerfile: Dockerfile
    image: flask-registration-app:latest
    ports:
      - "5000:5000"
    environment:
      MYSQL_HOST: db
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_DB: registration
    depends_on:
      - db
    restart: always
    networks:
      - app-network

  db:
    container_name: mysql_db
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: registration
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    restart: always
    networks:
      - app-network

volumes:
  mysql_data:

networks:
  app-network:
    driver: bridge
