- name: Install Prometheus
  shell: |
    wget https://github.com/prometheus/prometheus/releases/download/v2.49.0/prometheus-2.49.0.linux-amd64.tar.gz
    tar -xvf prometheus-*.tar.gz
    mv prometheus-*/ /opt/prometheus

- name: Copy config
  copy:
    content: |
      global:
        scrape_interval: 15s
      scrape_configs:
        - job_name: 'node'
          static_configs:
            - targets: ['APP_VM_IP:9100']
    dest: /opt/prometheus/prometheus.yml

- name: Start Prometheus
  shell: nohup /opt/prometheus/prometheus --config.file=/opt/prometheus/prometheus.yml &
