version: "3"
services:
  flask:
    image: python:3.10
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    working_dir: /app
    depends_on:
      - mysql
    command: sh -c "pip install flask mysql-connector-python && python app.py"

  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: login_db
    ports:
      - "3306:3306"
